/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
/* 整體背景 */
.clockBackground{
    height: 800px;
    /* 將整個時鐘置中 */
    display:flex;
    background-color: #293B29;
    justify-content: center;
    align-items:center;
}
/* 時鐘背面 */
.clockBack{
    width: 350px;
    height: 350px;
    background-color: #3d5a45;
    border-radius:72px;
    /* 將時鐘內的所有部件置中，時針、分針、秒針、鐘面 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* 時鐘表面CSS */
.clockFace{
    width: 310px;
    height: 310px;
    border-radius:50%;
    background-color:#293B29;
    border: 3px solid #212f0b;
    position: relative;
}
/* 時鐘表面上的點點樣式 */
.clockFace .dot{
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius:50%;
    position: absolute;
    top: 31px;
    left: 154px;
    /* 設定物體旋轉的起始點 */
	transform-origin: 1px 124px;
}
/* 時鐘表面上的線條樣式 */
.clockFace .line{
    width: 1px;
	height: 24px;
	background-color: #ff7600;
	position: absolute;
	top: 20px;
	left: 154.5px;
	transform-origin: 0.5px 135px;
	font-family: Helvetica, sans-serif;
}
/* 時鐘表面上的星星樣式 */
.clockFace .star{
    width: 8px;
	height: 8px;
	background-color: #ff7600;
	clip-path: polygon(50% 0, 66% 33%, 100% 50%, 66% 66%, 50% 100%, 33% 66%, 0 50%, 33% 33%);
	position: absolute;
	top: 28px;
	left: 151px;
	transform-origin: 4px 127px;
}
/* 於線條兩端放置數字 AM*/
.clockFace .line .am{
    width: 12px;
	height: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-size: 10px;
	position: absolute;
	transform-origin: 6px 6px;
	left: -5.5px;
	bottom: -14px;
}
/* 於線條兩端放置數字 AM*/
.clockFace .line .pm{
    width: 12px;
	height: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-size: 10px;
	position: absolute;
	transform-origin: 6px 6px;
	left: -5.5px;
	top: -14px;
}
/* 時針CSS */
.clockBack .hourHand {
	width: 8px;
	height: 72px;
	background-color: #FFF;
	border-radius: 0 0 4px 4px;
    position: absolute;
    /* 由設計稿可得知，如使用絕對定位，需再另行調整位置到中心點 */
	left: 171px;
    top: 107px;
    /* 由於border radius的4px設定，旋轉的中心點會設定於距離x軸：4px,Y軸：68px的地方 */
	transform-origin: 4px 68px;
}
/* 時針上的深色線條 */
.clockBack .hourHand .dark {
    background-color: #293B29;
    /* 外層時針的總寬度是8px, 所以設定深色線條寬度2px, 並往周圍推3px，達到置中的效果 */
	width: 2px;
	height: 24px;
	margin: 3px;
}
/* 分針CSS */
.clockBack .minuteHand {
	width: 8px;
	height: 96px;
	border-radius: 4px;
	background-color: #ff7600;
	position: absolute;
	left: 171px;
    top: 83px;
    /* 由於border radius的4px設定，旋轉的中心點會設定於距離x軸：4px,Y軸：92px的地方 */
    transform-origin: 4px 92px;
    /* 由於分針內部有放兩個div，所以這邊採用flex做位置的調整 */
    display: flex;
    /* 第一種調整方式 */
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    /* 第二種調整方式 */
    /* justify-content: center; */
	/* align-content: flex-end; */
	/* flex-wrap: wrap; */
}
/* 分針上的白色線條 */
.clockBack .minuteHand .line {
	width: 1px;
	height: 32px;
	background-color: #FFF;
}
/* 分針上，白色線條尾端的白色圓形 */
.clockBack .minuteHand .circle {
	margin: 0px 2px 2px 2px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #FFF;
}
/* 秒針CSS */
.clockBack .secondHand {
	width: 12px;
	height: 126px;
	position: absolute;
	left: 168px;
    top: 50px;
    /* 旋轉的中心點會設定於距離x軸：4px,Y軸：68px的地方，剛好是秒針div 長度的一半 */
    transform-origin: 6px 126px;   
}
/* 秒針每1段線的基本樣式 */
.clockBack .secondHand .line {
	width: 2px;
	border-radius: 1px;
	background-color: #b1ff00;
	position: absolute;
	left: 6px;
	transform-origin: 1px 1px;
}
/* 秒針第1段線 / 最上方的線段*/
.clockBack .secondHand #line1 {
	height: 41px;
	top: 7px;
	border-radius: 0px 0px 1px 1px;
}
/* 秒針第2段線 */
.clockBack .secondHand #line2 {
	height: 10px;
	top: 47px;
	transform: rotate(-45deg);
}
/* 秒針第3段線 */
.clockBack .secondHand #line3 {
	height: 20px;
	top: 53px;
	transform: translateX(6px) rotate(45deg);
}
/* 秒針第4段線 */
.clockBack .secondHand #line4 {
	height: 12px;
	top: 66px;
	transform: translateX(-7px) rotate(-45deg);
}
/* 秒針第5段線 / 最下方的線段 */
.clockBack .secondHand #line5 {
	height: 53px;
	top: 73px;
	border-radius: 1px 1px 0px 0px;
}
/* 秒針尾端的綠色圓圈 */
.clockBack .secondHand .green-circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #b1ff00;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 3px;
}
/* 秒針尾端的綠色圓圈，裡面還有一個黑色圓圈 */
.clockBack .secondHand .green-circle .black-circle {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border: 1px solid #293b29;
}